@model X.PagedList.StaticPagedList<InsightHub.Models.ReportModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a class="btn btn-outline-dark" asp-action="Index">Back to Full List</a>

    <h1 style="color:#04202C; font-family: Cambria">My Uploaded Reports</h1>

    <form asp-action="Index" method="get">
        <div class="form-actions">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Author") || User.IsInRole("Admin"))
            {
                <a class="d-inline-flex btn-lg btn-dark float-right" style="padding-bottom:10px" asp-area="" asp-controller="Reports" asp-action="Create">New Report</a>
            }
            <p style="color:#4D648D">
                Search Reports: <input type="text" name="search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" class="btn btn-outline-dark" />
            </p>
            <p>
                @ViewData["ResultsCount"] result(s)
            </p>
        </div>
    </form>
    <hr />
    <div class="row text-center">

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100 mw-100" style="background-color: #0a4863">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImgUrl)" width="500" height="200" alt="">
                    <div class="card-body text-white">
                        <div class="row">
                            <div class="col-6 float-left">
                                <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>
                                    @item.Industry
                                </a>
                            </div>
                            <div class="col-6 float-right" style="color:#C9D1C8">
                                @item.CreatedOn.ToShortDateString()
                            </div>
                        </div>
                        <row class="d-inline-block text-center">
                            <h5>
                                <b>
                                    <a class="text-white font-weight-bold" style="font-family: Cambria"
                                       asp-area=""
                                       asp-controller="Reports"
                                       asp-action="Details"
                                       asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                </b>
                            </h5>
                        </row>
                        <div class="row text-left" style="color:#C9D1C8">
                            @Html.DisplayFor(modelItem => item.Summary)
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="row text-left" style="color:#C9D1C8">
                            Downloaded @Html.DisplayFor(modelItem => item.DownloadsCount) times
                        </p>
                        <a class="btn btn-outline-light" asp-area="" asp-controller="Reports" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="Reports" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr/>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <p class="text-dark">
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @prevDisabled">
            Previous
        </a>
        &nbsp;@(ViewData["PageNumber"] ?? 1)&nbsp;
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @nextDisabled">
            Next
        </a>
    </p>
</div>