@model X.PagedList.StaticPagedList<InsightHub.Models.ReportModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color:#ffffff">
    @*class="d-inline m-0 p-0"*@

    <div class="container">
        <a class="btn btn-outline-dark" asp-action="Index">Back to Full List</a>

        <h1 class="display-4" style="color:#04202C; font-family: Cambria">
            <b>
                Reports
            </b>
        </h1>
        @if (ViewData["Industry"] != null)
        {
            <h3 style="color:#04202C; font-family: Cambria">in the @ViewData["Industry"] industry</h3>
        }
        @if (ViewData["Tag"] != null)
        {
            <h3 style="color:#04202C; font-family: Cambria">tagged with @ViewData["Tag"]</h3>
        }
        @if (ViewData["Author"] != null)
        {
            <h3 style="color:#04202C; font-family: Cambria">Uploaded by @ViewData["Author"]</h3>
        }
        <form asp-action="Index" method="get">
            <div class="form-actions">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Author") || User.IsInRole("Admin"))
                {
                    <a class="d-inline-flex btn-lg btn-dark float-right" style="padding-bottom:10px" asp-action="Create">New Report</a>
                }
                <p style="color:#4D648D">
                    Search Reports: <input type="text" name="search" value="@ViewData["Search"]" />
                    <input type="submit" value="Search" class="btn btn-outline-dark" />
                </p>
                <p class="d-inline-block">
                    @ViewData["ResultsCount"] result(s)
                    <div class="dropdown float-right">
                        <button class="d-inline-flex btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown">
                            Sort By
                        </button>
                        <ul class="dropdown-menu text-white" style="background-color: #4D648D">
                            <li class="nav-item btn-outline-dark" style="padding-left:10px">
                                <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByTitle"]"
                                   asp-route-search="@ViewData["Search"]"
                                   asp-route-industry="@ViewData["Industry"]"
                                   asp-route-tag="@ViewData["Tag"]"
                                   asp-route-author="@ViewData["Author"]">Title</a>
                            </li>
                            <li class="nav-item btn-outline-dark" style="padding-left:10px">
                                <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByAuthor"]"
                                   asp-route-search="@ViewData["Search"]"
                                   asp-route-industry="@ViewData["Industry"]"
                                   asp-route-tag="@ViewData["Tag"]"
                                   asp-route-author="@ViewData["Author"]">Author</a>
                            </li>
                            <li class="nav-item btn-outline-dark" style="padding-left:10px">
                                <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByIndustry"]"
                                   asp-route-search="@ViewData["Search"]"
                                   asp-route-industry="@ViewData["Industry"]"
                                   asp-route-tag="@ViewData["Tag"]"
                                   asp-route-author="@ViewData["Author"]">Industry</a>
                            </li>
                            <li class="nav-item btn-outline-dark" style="padding-left:10px">
                                <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByDate"]"
                                   asp-route-search="@ViewData["Search"]"
                                   asp-route-industry="@ViewData["Industry"]"
                                   asp-route-tag="@ViewData["Tag"]"
                                   asp-route-author="@ViewData["Author"]">Date</a>
                            </li>
                            <li class="nav-item btn-outline-dark" style="padding-left:10px">
                                <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByDownloads"]"
                                   asp-route-search="@ViewData["Search"]"
                                   asp-route-industry="@ViewData["Industry"]"
                                   asp-route-tag="@ViewData["Tag"]"
                                   asp-route-author="@ViewData["Author"]">Downloads</a>
                            </li>
                        </ul>

                    </div>

                </p>
                <br />
            </div>
        </form>
        <hr/>
        <div class="row text-center">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 mw-100" style="background-color: #0a4863">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImgUrl)" width="500" height="200" alt="">
                        <div class="card-body text-white">
                            <div class="row">
                                <div class="col-6 float-left">
                                    <a class="text-white" asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>
                                        @item.Industry
                                    </a>
                                </div>
                                <div class="col-6 float-right" style="color:#C9D1C8">
                                    @item.CreatedOn.ToShortDateString()
                                </div>
                            </div>
                            <row class="d-inline-block text-center">
                                <h5>
                                    <b>
                                        <a class="text-white font-weight-bold" style="font-family: Cambria" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </b>
                                </h5>
                            </row>
                            <div class="row text-left" style="color:#C9D1C8">
                                @Html.DisplayFor(modelItem => item.Summary)
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="row text-left" style="color:#C9D1C8">
                                By:&nbsp;
                                <a class="text-white" asp-action="Index" asp-route-author=@item.Author.Split(' ').Last()>
                                    @item.Author.Substring(0, item.Author.Substring(0, item.Author.Length - 1).LastIndexOf("- "))
                                </a>
                            </p>
                            <p class="row text-left" style="color:#C9D1C8">
                                Downloaded @Html.DisplayFor(modelItem => item.DownloadsCount) times
                            </p>
                            @if (User.Identity.IsAuthenticated && User.Identity.Name == item.Author.Split(' ').Last() || User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr/>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <p class="text-dark">
            <a asp-action="Index"
               asp-route-sort="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageNumber - 1)"
               asp-route-search="@ViewData["Search"]"
               asp-route-industry="@ViewData["Industry"]"
               asp-route-tag="@ViewData["Tag"]"
               asp-route-author="@ViewData["Author"]"
               class="btn btn-outline-dark @prevDisabled">
                Previous
            </a>
            &nbsp;@(ViewData["PageNumber"] ?? 1)&nbsp;
            <a asp-action="Index"
               asp-route-sort="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageNumber + 1)"
               asp-route-search="@ViewData["Search"]"
               asp-route-industry="@ViewData["Industry"]"
               asp-route-tag="@ViewData["Tag"]"
               asp-route-author="@ViewData["Author"]"
               class="btn btn-outline-dark @nextDisabled">
                Next
            </a>
        </p>
    </div>
</body>