@model X.PagedList.StaticPagedList<InsightHub.Models.IndustryModel>



<a class="btn btn-outline-dark" asp-action="Index">Back to Full List</a>
<h1 class="display-4" style="color:#04202C; font-family: Cambria">
    My Subscriptions <br />
</h1>
<h3>
    (You will get an email every time a new report from one of these industries is published.)
</h3>
@if (Model.Count() > 0)
{
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search Industries: <input type="text" name="search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" class="btn btn-outline-dark" />
                @ViewData["ResultsCount"] result(s)
                <br />
            </p>
        </div>
    </form>
    <hr />
    <div class="container">

        @foreach (var item in Model)
        {
            <div style="padding-bottom:20px">
                <div class="row">
                    <div class="col-lg-9">
                        <a class="row" asp-area="" asp-controller="Industries" asp-action="Details" asp-route-id="@item.Id">
                            <img class="d-inline text-left" src=@Html.DisplayFor(modelItem => item.ImgUrl) width="805" height="217">
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="d-inline" style="font-family: Cambria">
                            <a class="row" style="vertical-align:top; color: #04202C" asp-area="" asp-controller="Industries" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </h2>
                        <div class="row" style="color:#04202C">
                            <b>
                                Subscribed Users:&nbsp;&nbsp;
                            </b>
                            @Html.DisplayFor(modelItem => item.SubscriptionsCount)
                        </div>
                        <div class="row">
                            <b>
                                Total Reports:&nbsp;&nbsp;
                            </b>
                            @Html.DisplayFor(modelItem => item.ReportsCount)
                        </div>
                        <div class="row">
                            <a class="btn btn-danger" asp-area="" asp-controller="Industries" asp-action="RemoveSubscription" asp-route-id="@item.Id">Unsubscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       asp-route-search="@ViewData["Search"]"
       class="btn btn-outline-dark @prevDisabled">
        Previous
    </a>
    <text>&nbsp;@(ViewData["PageNumber"] ?? 1)&nbsp;</text>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       asp-route-search="@ViewData["Search"]"
       class="btn btn-outline-dark @nextDisabled">
        Next
    </a>
}
else
{
    <hr />
    <h5 class="font-italic">No subscriptions found.</h5>
}