@model IEnumerable<InsightHub.Models.ReportModel>

@{
    ViewData["Title"] = "Top5MostDownloadedReports";
}



<h3 style="color:#04202C; font-family: Cambria">Most Popular Reports</h3>

<div class="table" style="background-color: #304040; border-radius:0.25rem">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-2">
                    <img src="@Html.DisplayFor(modelItem => item.ImgUrl)" height="60" width="60" alt="">
                </div>
                <div class="col-6 text-white" >
                    <b>
                        <a style="font-family: Cambria; vertical-align: central; font-size: 20px; color:white" asp-area="" asp-controller="Reports" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </b>
                    <br/>
                    <text style="color:#C9D1C8">
                        @item.DownloadsCount downloads
                    </text>
                </div>
                <div class="col-2 text-white">
                    <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>@item.Industry</a>
                </div>
                <div class="col-2" style="color:#C9D1C8">
                    @item.CreatedOn.ToShortDateString()
                </div>
            </div>
            <hr style="background-color: white" />
        }
</div>