@model IEnumerable<InsightHub.Models.ReportModel>

@{
    ViewData["Title"] = "Top5MostDownloadedReports";
}



<h3>Most Popular Reports</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    <a asp-controller="Reports" asp-action="Index" asp-route-author=@ViewData["AuthorEmail"]>@Html.DisplayFor(modelItem => item.Author)</a>
                </td>
                <td>
                    <a asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>@Html.DisplayFor(modelItem => item.Industry)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DownloadsCount)
                </td>
            </tr>
        }
    </tbody>
</table>
