@model X.PagedList.StaticPagedList<InsightHub.Models.ReportModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a class="btn btn-outline-dark" asp-action="Index">Back to Full List</a>

    <h1 style="color:#04202C; font-family: Cambria">Pending Reports</h1>

    <form asp-action="Index" method="get">
        <div class="form-actions">

            Search Reports: <input type="text" name="search" value="@ViewData["Search"]" />
            <input type="submit" value="Search" class="btn btn-outline-dark" />
            @ViewData["ResultsCount"] result(s)

            <p class="d-inline-block">
                <div class="dropdown float-right">
                    <button class="d-inline-flex btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown">
                        Sort By
                    </button>
                    <ul class="dropdown-menu text-white" style="background-color: #304040">
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByTitle"]"
                               asp-route-search="@ViewData["Search"]">Title</a>
                        </li>
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByAuthor"]"
                               asp-route-search="@ViewData["Search"]">Author</a>
                        </li>
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByIndustry"]"
                               asp-route-search="@ViewData["Search"]">Industry</a>
                        </li>
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByDate"]"
                               asp-route-search="@ViewData["Search"]">Date</a>
                        </li>
                        <li class="nav-item btn-outline-dark" style="padding-left:10px">
                            <a class="text-white" asp-action="Index" asp-route-sort="@ViewData["SortByDownloads"]"
                               asp-route-search="@ViewData["Search"]">Downloads</a>
                        </li>
                    </ul>
                </div>
            </p>
        </div>
    </form>
    <hr />

    <div class="row text-center">

        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 mw-100" style="background-color: #0a4863">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImgUrl)" width="500" height="200" alt="">
                        <div class="card-body text-white">
                            <div class="row">
                                <div class="col-6 float-left">
                                    <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>
                                        @item.Industry
                                    </a>
                                </div>
                                <div class="col-6 float-right" style="color:#C9D1C8">
                                    @item.CreatedOn.ToShortDateString()
                                </div>
                            </div>
                            <row class="d-inline-block text-center">
                                <h5>
                                    <b>
                                        <a class="text-white font-weight-bold" style="font-family: Cambria"
                                           asp-area=""
                                           asp-controller="Reports"
                                           asp-action="Details"
                                           asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </b>
                                </h5>
                            </row>
                            <div class="row text-left" style="color:#C9D1C8">
                                @Html.DisplayFor(modelItem => item.Summary)
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="row text-left" style="color:#C9D1C8">
                                By:&nbsp;
                                <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-author=@item.Author.Split(' ').Last()>
                                    @item.Author.Substring(0, item.Author.Substring(0, item.Author.Length - 1).LastIndexOf("- "))
                                </a>
                            </p>
                            <p class="row text-left" style="color:#C9D1C8">
                                Downloaded @Html.DisplayFor(modelItem => item.DownloadsCount) times
                            </p>
                            <a class="btn btn-outline-success" asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                            <a class="btn btn-outline-light" asp-area="" asp-controller="Reports" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-area="" asp-controller="Reports" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 class="font-italic">No pending reports found.</h4>
        }
    </div>
    <hr />
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <p class="text-dark">
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @prevDisabled">
            Previous
        </a>
        &nbsp;@(ViewData["PageNumber"] ?? 1)&nbsp;
        <a asp-action="Index"
           asp-route-sort="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           asp-route-search="@ViewData["Search"]"
           class="btn btn-outline-dark @nextDisabled">
            Next
        </a>
    </p>
</div>