@model IEnumerable<InsightHub.Models.ReportModel>

@{
    ViewData["Title"] = "FeaturedViewComponent";
}



<h2 style="color:#04202C; font-family: Cambria">Featured Reports</h2>

<div class="row text-center">

    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 mw-100" style="background-color: #304040">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImgUrl)" width="500" height="200" alt="">
                <div class="card-body text-white">
                    <div class="row">
                        <div class="col-6 float-left">
                            <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-industry=@item.Industry>
                                @item.Industry
                            </a>
                        </div>
                        <div class="col-6 float-right" style="color:#C9D1C8">
                            @item.CreatedOn.ToShortDateString()
                        </div>
                    </div>
                    <row class="d-inline-block text-center">
                        <h5>
                            <b>
                                <a class="text-white font-weight-bold" style="font-family: Cambria"
                                   asp-area=""
                                   asp-controller="Reports"
                                   asp-action="Details"
                                   asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                            </b>
                        </h5>
                    </row>
                    <div class="row text-left" style="color:#C9D1C8">
                        @Html.DisplayFor(modelItem => item.Summary)
                    </div>
                </div>
                <div class="card-footer">
                    <p class="row text-left" style="color:#C9D1C8">
                        By:&nbsp;
                        <a class="text-white" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-author=@item.Author.Split(' ').Last()>
                            @item.Author.Substring(0, item.Author.Substring(0, item.Author.Length - 1).LastIndexOf("- "))
                        </a>
                    </p>
                    <p class="row text-left" style="color:#C9D1C8">
                        Downloaded @Html.DisplayFor(modelItem => item.DownloadsCount) times
                    </p>
                </div>
            </div>
        </div>
    }
</div>
