@model InsightHub.Models.IndustryModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<dl class="row">
    <dt class="col-sm-2">
    </dt>
    <dd class="text-center">
        <img src=@Html.DisplayFor(model => model.ImgUrl) height="250" width="1125">
    </dd>
</dl>
<div>
    <h1 style="font-family:Cambria">
        @Html.DisplayFor(model => model.Name)
    </h1>
    @if ((bool)ViewData["SubscriptionExists"] && User.IsInRole("Client"))
    {
        <a class="float-right btn btn-outline-danger" asp-action="RemoveSubscription" asp-route-id="@Model.Id">Unsubscribe from Email notifications</a>
    }
    else if (User.IsInRole("Client"))
    {
        <a class="float-right btn btn-outline-dark" asp-action="Subscribe" asp-route-id="@Model.Id">Subscribe for Email notifications</a>
    }
</div>
<div>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Author")))
    {
        <p>
            <div class="text-left" style="color:#04202C">
                <b>
                    Subscribed Users:&nbsp;
                </b>
                @Html.DisplayFor(model => model.SubscriptionsCount)
            </div>
        </p>
    }
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div>
            <b>
                Created On:&nbsp;
            </b>
            @Html.DisplayFor(model => model.CreatedOn)
        </div>
        <br />
        <div>
            <b>
                Modified On:&nbsp;
            </b>
            @Html.DisplayFor(model => model.ModifiedOn)
        </div>
        <br />
        @if (Model.IsDeleted)
        {
            <b>
                Deleted On:&nbsp;
            </b>
            @Html.DisplayFor(model => model.DeletedOn)
        }
    }
</div>
<div style="padding-bottom:30px">
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }

</div>
<div>
    <h4 class="font-italic">
        Latest Reports
    </h4>
    <div style="padding-bottom:15px">
        <a class="btn btn-primary" asp-controller="Reports" asp-action="Index" asp-route-industry="@Model.Name">Show All</a>
    </div>
    <div class="row">
        @foreach (var item in Model.Reports.OrderByDescending(r => r.CreatedOn).Take(4))
        {
            <div class="col-sm-3 mb-5">
                <div class="card h-100 mw-100" style="background-color: #0a4863">
                    <div class="card-body">
                        <div class="d-inline-block text-center">
                            <h5>
                                <b>
                                    <a class="text-white font-weight-bold" asp-controller="Reports" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                </b>
                            </h5>
                        </div>
                        <p class="card-text text-roght">
                            <div class="d-inline-flex float-right" style="color:#C9D1C8">
                                @item.CreatedOn.ToShortDateString()
                            </div>
                        </p>
                        <div class="row text-left" style="color:#C9D1C8">
                            @Html.DisplayFor(modelItem => item.Summary)
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="row text-left" style="color:#C9D1C8">
                            By:&nbsp;
                            <a class="text-white" asp-action="Index" asp-route-author=@item.Author.Split(' ').Last()>
                                @item.Author.Substring(0, item.Author.Substring(0, item.Author.Length - 1).LastIndexOf("- "))
                            </a>
                        </p>
                        <p class="row text-left" style="color:#C9D1C8">
                            Downloaded @Html.DisplayFor(modelItem => item.DownloadsCount) times
                        </p>
                        @if (User.Identity.IsAuthenticated && User.Identity.Name == item.Author.Split(' ').Last() || User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </div>
                @*<tr>
                        <td>
                            <img src=@Html.DisplayFor(modelItem => item.ImgUrl) width="75" height="75">
                        </td>
                    </tr>

                    <table class="table">
                            <thead>
                                <tr>
                                    <th />
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        CreatedOn
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>*@
            </div>
        }
    </div>
</div>
