@model InsightHub.Models.IndustryModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Details</h4>
    <div>
        @if ((bool)ViewData["SubscriptionExists"] && User.IsInRole("Client"))
        {
            <a asp-action="RemoveSubscription" asp-route-id="@Model.Id">Unsubscribe from Email notifications</a>
        }
        else if ((bool)ViewData["SubscriptionExists"] && User.IsInRole("Client"))
        {
            <a asp-action="Subscribe" asp-route-id="@Model.Id">Subscribe for Email notifications</a>
        }
        <br />
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
        <br />
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <img src=@Html.DisplayFor(model => model.ImgUrl) width="200" height="200">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionsCount)
        </dd>
    </dl>
    <h5>
        Newest 10 Reports
        <a class="btn btn-primary" asp-controller="Reports" asp-action="Index" asp-route-industry="@Model.Name">Show All</a>
    </h5>
    <table class="table">
        <thead>
            <tr>
                <th />
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    CreatedOn
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reports.OrderByDescending(r => r.CreatedOn).Take(10))
            {
                <tr>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.ImgUrl) width="75" height="75">
                    </td>
                    <td>
                        <a asp-controller="Reports" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>